{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'registration/icomoon/style.css'%}">
    <link rel="stylesheet" href="{% static 'registration/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
</head>
<style>
    .content {
        background-image:url("{% static 'registration/images/home.jpg'%}") center no-repeat;
    }
</style>
{% block content %}

{% endblock %}



<body>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script async src="{% static 'js/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

<script async src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script async src="{% static 'vendors/apexcharts/apexcharts.js' %}"></script>
<script async src="{% static 'js/pages/dashboard.js' %}"></script>
<script async src="{% static 'js/mazer.js' %}"></script>

</html>