{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4 text-center">
                                <h3>Sign In </h3>
                            </div>

                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group first">
                                    {{ form.parent_name}}

                                </div>
                                <div class="form-group last mb-4">
                                    {{ form.student_name}}


                                </div>
                                <div class="form-group last mb-4">
                                    {{ form.parent_email}}
                                </div>

                                <div class="form-group last mb-4">
                                    {{ form.phone_number}}
                                </div>
                                <div class="form-group last mb-4">
                                    {{ form.password}}

                                </div>
                                <div class="form-group last mb-4">
                                    {{ form.confirm_password}}
                                </div>


                                <input type="submit" value="Sign Up"
                                    class="btn btn-pill text-white btn-block btn-primary">

                                <span class="d-block text-center my-4 text-muted">Already have an account
                                    <a href="">Log In </a>
                                </span>


                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}